extends layout

block content
  h1= title

  if error
    p#alert(role='alert')= error.msg

  form(method='POST')
    label(for='email') Email
      input#email(type='email' name='email' required value=(formData ? formData.email : ''))
    label(for='password') Password
      input#password(type='password' name='password' required)
    button(type='submit') Log In
  
  p(style='text-align: center;') Don't have an account yet?&nbsp;
    a(href='register') Sign up!

  script(type='text/javascript' src='javascripts/form.js')
