extends layout

block content
  h1= title

  form(method='POST')
    label(for='email') Email
      input#email(type='email' name='email' required)
    label(for='password') Password
      input#password(type='password' name='password' required)
    label(for='confirm') Confirm Password
      input#confirm(type='password' name='confirm' required)
    label(for='firstName') First Name
      input#firstName(type='text' name='firstName' required)
    label(for='lastName') Last Name
      input#lastName(type='text' name='lastName' required)
    button(type='submit') Sign Up

  p(style='text-align: center;') Already have an account?&nbsp;
    a(href='login') Login!
